In [1]:
  records= {'1001': {'name': 'Chocolate', 'price': 100, 'qn': 89, "manu_date":"12/20", "weight": "50gm"},
            '1002': {'name': 'MilkCake', 'price': 150, 'qn': 180, "manu_date":"08/19", "weight": "25gm"},
            '1003': {'name': 'ColdDrink', 'price': 95, 'qn': 200, "manu_date":"09/19", "weight": "59gm"},
            '1004': {'name': 'Candy', 'price': 10, 'qn': 1050, "manu_date":"01/20", "weight": "20gm"},
            '1005': {'name': 'Pen', 'price': 20, 'qn': 100, "manu_date":"12/20", "weight": "15gm"},
            '1006': {'name': 'Phone', 'price': 50000, 'qn': 25, "manu_date":"12/18", "weight": "100gm"},
            '1007': {'name': 'Mic', 'price': 1500, 'qn': 30, "manu_date":"05/19", "weight": "50gm"},
            '1008': {'name': 'Suitcase', 'price': 2000, 'qn': 10, "manu_date":"03/20", "weight": "90gm"},
            '1009': {'name': 'Chocacandy', 'price': 25, 'qn': 980, "manu_date":"01/19", "weight": "56gm"},
            '1010': {'name': 'Headphones', 'price': 3000, 'qn': 80, "manu_date":"12/19", "weight": "25gm"},
            '1011': {'name': 'Bag', 'price': 1500, 'qn': 100, "manu_date":"12/20", "weight": "50gm"},
            '1012': {'name': 'Tubelight', 'price': 800, 'qn': 350, "manu_date":"03/19", "weight": "20gm"},
            '1013': {'name': 'Pencil', 'price': 5, 'qn': 100, "manu_date":"07/19", "weight": "15gm"},
            '1014': {'name': 'DVD player', 'price': 20000, 'qn': 10, "manu_date":"11/20", "weight": "100gm"},
            '1015': {'name': 'Rubics Cube', 'price': 200, 'qn': 250, "manu_date":"06/20", "weight": "50gm"},
            '1016': {'name': 'Biscuit', 'price': 100, 'qn': 150, "manu_date":"08/19", "weight": "90gm"}
            }

In [2]:
import json

In [3]:
js = json.dumps(records)

In [4]:
js

'{"1001": {"name": "Chocolate", "price": 100, "qn": 89, "manu_date": "12/20", "weight": "50gm"}, "1002": {"name": "MilkCake", "price": 150, "qn": 180, "manu_date": "08/19", "weight": "25gm"}, "1003": {"name": "ColdDrink", "price": 95, "qn": 200, "manu_date": "09/19", "weight": "59gm"}, "1004": {"name": "Candy", "price": 10, "qn": 1050, "manu_date": "01/20", "weight": "20gm"}, "1005": {"name": "Pen", "price": 20, "qn": 100, "manu_date": "12/20", "weight": "15gm"}, "1006": {"name": "Phone", "price": 50000, "qn": 25, "manu_date": "12/18", "weight": "100gm"}, "1007": {"name": "Mic", "price": 1500, "qn": 30, "manu_date": "05/19", "weight": "50gm"}, "1008": {"name": "Suitcase", "price": 2000, "qn": 10, "manu_date": "03/20", "weight": "90gm"}, "1009": {"name": "Chocacandy", "price": 25, "qn": 980, "manu_date": "01/19", "weight": "56gm"}, "1010": {"name": "Headphones", "price": 3000, "qn": 80, "manu_date": "12/19", "weight": "25gm"}, "1011": {"name": "Bag", "price": 1500, "qn": 100, "manu_date": "12/20", "weight": "50gm"}, "1012": {"name": "Tubelight", "price": 800, "qn": 350, "manu_date": "03/19", "weight": "20gm"}, "1013": {"name": "Pencil", "price": 5, "qn": 100, "manu_date": "07/19", "weight": "15gm"}, "1014": {"name": "DVD player", "price": 20000, "qn": 10, "manu_date": "11/20", "weight": "100gm"}, "1015": {"name": "Rubics Cube", "price": 200, "qn": 250, "manu_date": "06/20", "weight": "50gm"}, "1016": {"name": "Biscuit", "price": 100, "qn": 150, "manu_date": "08/19", "weight": "90gm"}}'

In [5]:
records

{'1001': {'manu_date': '12/20',
  'name': 'Chocolate',
  'price': 100,
  'qn': 89,
  'weight': '50gm'},
 '1002': {'manu_date': '08/19',
  'name': 'MilkCake',
  'price': 150,
  'qn': 180,
  'weight': '25gm'},
 '1003': {'manu_date': '09/19',
  'name': 'ColdDrink',
  'price': 95,
  'qn': 200,
  'weight': '59gm'},
 '1004': {'manu_date': '01/20',
  'name': 'Candy',
  'price': 10,
  'qn': 1050,
  'weight': '20gm'},
 '1005': {'manu_date': '12/20',
  'name': 'Pen',
  'price': 20,
  'qn': 100,
  'weight': '15gm'},
 '1006': {'manu_date': '12/18',
  'name': 'Phone',
  'price': 50000,
  'qn': 25,
  'weight': '100gm'},
 '1007': {'manu_date': '05/19',
  'name': 'Mic',
  'price': 1500,
  'qn': 30,
  'weight': '50gm'},
 '1008': {'manu_date': '03/20',
  'name': 'Suitcase',
  'price': 2000,
  'qn': 10,
  'weight': '90gm'},
 '1009': {'manu_date': '01/19',
  'name': 'Chocacandy',
  'price': 25,
  'qn': 980,
  'weight': '56gm'},
 '1010': {'manu_date': '12/19',
  'name': 'Headphones',
  'price': 3000,
  'qn': 80,
  'weight': '25gm'},
 '1011': {'manu_date': '12/20',
  'name': 'Bag',
  'price': 1500,
  'qn': 100,
  'weight': '50gm'},
 '1012': {'manu_date': '03/19',
  'name': 'Tubelight',
  'price': 800,
  'qn': 350,
  'weight': '20gm'},
 '1013': {'manu_date': '07/19',
  'name': 'Pencil',
  'price': 5,
  'qn': 100,
  'weight': '15gm'},
 '1014': {'manu_date': '11/20',
  'name': 'DVD player',
  'price': 20000,
  'qn': 10,
  'weight': '100gm'},
 '1015': {'manu_date': '06/20',
  'name': 'Rubics Cube',
  'price': 200,
  'qn': 250,
  'weight': '50gm'},
 '1016': {'manu_date': '08/19',
  'name': 'Biscuit',
  'price': 100,
  'qn': 150,
  'weight': '90gm'}}

In [6]:
fd = open("Records.json",'w')
fd.write(js)
fd.close()

In [7]:
fd = open("Records.json",'r')
txt = fd.read()
fd.close()

In [8]:
records = json.loads(txt)

In [9]:
records

{'1001': {'manu_date': '12/20',
  'name': 'Chocolate',
  'price': 100,
  'qn': 89,
  'weight': '50gm'},
 '1002': {'manu_date': '08/19',
  'name': 'MilkCake',
  'price': 150,
  'qn': 180,
  'weight': '25gm'},
 '1003': {'manu_date': '09/19',
  'name': 'ColdDrink',
  'price': 95,
  'qn': 200,
  'weight': '59gm'},
 '1004': {'manu_date': '01/20',
  'name': 'Candy',
  'price': 10,
  'qn': 1050,
  'weight': '20gm'},
 '1005': {'manu_date': '12/20',
  'name': 'Pen',
  'price': 20,
  'qn': 100,
  'weight': '15gm'},
 '1006': {'manu_date': '12/18',
  'name': 'Phone',
  'price': 50000,
  'qn': 25,
  'weight': '100gm'},
 '1007': {'manu_date': '05/19',
  'name': 'Mic',
  'price': 1500,
  'qn': 30,
  'weight': '50gm'},
 '1008': {'manu_date': '03/20',
  'name': 'Suitcase',
  'price': 2000,
  'qn': 10,
  'weight': '90gm'},
 '1009': {'manu_date': '01/19',
  'name': 'Chocacandy',
  'price': 25,
  'qn': 980,
  'weight': '56gm'},
 '1010': {'manu_date': '12/19',
  'name': 'Headphones',
  'price': 3000,
  'qn': 80,
  'weight': '25gm'},
 '1011': {'manu_date': '12/20',
  'name': 'Bag',
  'price': 1500,
  'qn': 100,
  'weight': '50gm'},
 '1012': {'manu_date': '03/19',
  'name': 'Tubelight',
  'price': 800,
  'qn': 350,
  'weight': '20gm'},
 '1013': {'manu_date': '07/19',
  'name': 'Pencil',
  'price': 5,
  'qn': 100,
  'weight': '15gm'},
 '1014': {'manu_date': '11/20',
  'name': 'DVD player',
  'price': 20000,
  'qn': 10,
  'weight': '100gm'},
 '1015': {'manu_date': '06/20',
  'name': 'Rubics Cube',
  'price': 200,
  'qn': 250,
  'weight': '50gm'},
 '1016': {'manu_date': '08/19',
  'name': 'Biscuit',
  'price': 100,
  'qn': 150,
  'weight': '90gm'}}

**Adding the new entry**

In [10]:
prod_id = str(input("Enter product id :"))
name = str(input("Enter name :"))
price = int(input("Enter price :"))
qn = int(input("Enter quantity :"))
manu_date = str(input("Enter manufacturing date :"))
weight = str(input("Enter weight :"))

records[prod_id] = {'name': name, 'price': price, 'qn': qn, 'manu_date': manu_date, 'weight': weight}

js = json.dumps(records)

fd = open("Records.json",'w')
fd.write(js)
fd.close()

Enter product id :1033
Enter name :camera
Enter price :3000
Enter quantity :28
Enter manufacturing date :12/19
Enter weight :890gm

In [21]:
records

{'1001': {'manu_date': '12/20',
  'name': 'Chocolate',
  'price': 100,
  'qn': 89,
  'weight': '50gm'},
 '1002': {'manu_date': '08/19',
  'name': 'MilkCake',
  'price': 150,
  'qn': 180,
  'weight': '25gm'},
 '1003': {'manu_date': '09/19',
  'name': 'ColdDrink',
  'price': 95,
  'qn': 200,
  'weight': '59gm'},
 '1004': {'manu_date': '01/20',
  'name': 'Candy',
  'price': 10,
  'qn': 1050,
  'weight': '20gm'},
 '1005': {'manu_date': '12/20',
  'name': 'Pen',
  'price': 20,
  'qn': 100,
  'weight': '15gm'},
 '1006': {'manu_date': '12/18',
  'name': 'Phone',
  'price': 50000,
  'qn': 25,
  'weight': '100gm'},
 '1007': {'manu_date': '05/19',
  'name': 'Mic',
  'price': 1500,
  'qn': 30,
  'weight': '50gm'},
 '1008': {'manu_date': '03/20',
  'name': 'Suitcase',
  'price': 2000,
  'qn': 10,
  'weight': '90gm'},
 '1009': {'manu_date': '01/19',
  'name': 'Chocacandy',
  'price': 25,
  'qn': 980,
  'weight': '56gm'},
 '1010': {'manu_date': '12/19',
  'name': 'Headphones',
  'price': 3000,
  'qn': 80,
  'weight': '25gm'},
 '1011': {'manu_date': '12/20',
  'name': 'Bag',
  'price': 1500,
  'qn': 100,
  'weight': '50gm'},
 '1012': {'manu_date': '03/19',
  'name': 'Tubelight',
  'price': 800,
  'qn': 350,
  'weight': '20gm'},
 '1013': {'manu_date': '07/19',
  'name': 'Pencil',
  'price': 5,
  'qn': 100,
  'weight': '15gm'},
 '1014': {'manu_date': '11/20',
  'name': 'DVD player',
  'price': 20000,
  'qn': 10,
  'weight': '100gm'},
 '1015': {'manu_date': '06/20',
  'name': 'Rubics Cube',
  'price': 200,
  'qn': 250,
  'weight': '50gm'},
 '1016': {'manu_date': '08/19',
  'name': 'Biscuit',
  'price': 100,
  'qn': 150,
  'weight': '90gm'},
 '1033': {'manu_date': '12/19',
  'name': 'camera',
  'price': 3000,
  'qn': 28,
  'weight': '890gm'}}

**Displaying the products available**

In [12]:
print("Product items available  :\n ID   :  Product")
for prod_id in records:
  print(prod_id," : ", records[prod_id]['name'])

Product items available  :
 ID   :  Product
1001  :  Chocolate
1002  :  MilkCake
1003  :  ColdDrink
1004  :  Candy
1005  :  Pen
1006  :  Phone
1007  :  Mic
1008  :  Suitcase
1009  :  Chocacandy
1010  :  Headphones
1011  :  Bag
1012  :  Tubelight
1013  :  Pencil
1014  :  DVD player
1015  :  Rubics Cube
1016  :  Biscuit
1033  :  camera

**Purchase the product**

In [39]:
buy_prod  = str(input("Enter the product id : "))
buy_qn = int(input("Enter the quantity : "))


print("Product       : ", records[buy_prod]['name'])
print("Price         : ", records[buy_prod]['price'])
print("Billing Amount: ", records[buy_prod]['price'] * buy_qn)

records[buy_prod]['qn'] = records[buy_prod]['qn'] - buy_qn

Enter the product id : 1004
Enter the quantity : 1
Product       :  Candy
Price         :  10
Billing Amount:  10

**Updating in json file**

In [40]:
js = json.dumps(records)

fd = open("Records.json",'w')
fd.write(js)
fd.close()

In [41]:
records

{'1001': {'manu_date': '12/20',
  'name': 'Chocolate',
  'price': 100,
  'qn': 88,
  'weight': '50gm'},
 '1002': {'manu_date': '08/19',
  'name': 'MilkCake',
  'price': 150,
  'qn': 180,
  'weight': '25gm'},
 '1003': {'manu_date': '09/19',
  'name': 'ColdDrink',
  'price': 95,
  'qn': 200,
  'weight': '59gm'},
 '1004': {'manu_date': '01/20',
  'name': 'Candy',
  'price': 10,
  'qn': 1049,
  'weight': '20gm'},
 '1005': {'manu_date': '12/20',
  'name': 'Pen',
  'price': 20,
  'qn': 100,
  'weight': '15gm'},
 '1006': {'manu_date': '12/18',
  'name': 'Phone',
  'price': 50000,
  'qn': 25,
  'weight': '100gm'},
 '1007': {'manu_date': '05/19',
  'name': 'Mic',
  'price': 1500,
  'qn': 30,
  'weight': '50gm'},
 '1008': {'manu_date': '03/20',
  'name': 'Suitcase',
  'price': 2000,
  'qn': 10,
  'weight': '90gm'},
 '1009': {'manu_date': '01/19',
  'name': 'Chocacandy',
  'price': 25,
  'qn': 980,
  'weight': '56gm'},
 '1010': {'manu_date': '12/19',
  'name': 'Headphones',
  'price': 3000,
  'qn': 80,
  'weight': '25gm'},
 '1011': {'manu_date': '12/20',
  'name': 'Bag',
  'price': 1500,
  'qn': 100,
  'weight': '50gm'},
 '1012': {'manu_date': '03/19',
  'name': 'Tubelight',
  'price': 800,
  'qn': 350,
  'weight': '20gm'},
 '1013': {'manu_date': '07/19',
  'name': 'Pencil',
  'price': 5,
  'qn': 100,
  'weight': '15gm'},
 '1014': {'manu_date': '11/20',
  'name': 'DVD player',
  'price': 20000,
  'qn': 10,
  'weight': '100gm'},
 '1015': {'manu_date': '06/20',
  'name': 'Rubics Cube',
  'price': 200,
  'qn': 250,
  'weight': '50gm'},
 '1016': {'manu_date': '08/19',
  'name': 'Biscuit',
  'price': 100,
  'qn': 150,
  'weight': '90gm'},
 '1033': {'manu_date': '12/19',
  'name': 'camera',
  'price': 3000,
  'qn': 27,
  'weight': '890gm'}}

**Creating sales.json file**

In [42]:
sales = {buy_prod : {'name' : records[buy_prod]['name'], 'qn' : buy_qn, 'amount': records[buy_prod]['price'] * buy_qn}}

sale = json.dumps(sales)

fd = open("Sales.json",'w')
fd.write(sale)
fd.close()

In [43]:
fd = open("Sales.json",'r')
txt_sale = fd.read()
fd.close()

sales = json.loads(txt_sale)

In [44]:
sales

{'1004': {'amount': 10, 'name': 'Candy', 'qn': 1}}

**Updating Sales.json file**

In [45]:
sales[buy_prod] = {'name' : records[buy_prod]['name'], 'qn' : buy_qn, 'amount': records[buy_prod]['price'] * buy_qn}

sale = json.dumps(sales)

fd = open("Sales.json",'w')
fd.write(sale)
fd.close()

In [46]:
sales

{'1004': {'amount': 10, 'name': 'Candy', 'qn': 1}}